.boton-menu {
    -fx-background-color: transparent;
}

.boton-menu:hover {
    -fx-background-color: #27963a;
}

.boton-menu:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-scale-z: 0.97;
}

.background-azul {
    -fx-background-color: #b5d0d4;
}

.boton-transparent {
    -fx-background-color: transparent;
}

.boton {
    -fx-background-color: #70c07f;
    -fx-background-radius: 100%;
}

.boton:hover {
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-scale-z: 1.04;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 4.0, 0.0, 0.0, 4.0);
}

.boton:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-scale-z: 0.97;
}

.boton-transparent:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-scale-z: 0.97;
}

.boton-transparent:hover {
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-scale-z: 1.04;
}

.pdflateral {
    -fx-background-color: #ffff;
    -fx-background-radius: 7px;
}

.fondo-blanco {
    -fx-background-color: #ffff;
}

.style-scroll-pane {
    -fx-background-color: transparent;
}

.combobox-filtro {

    -fx-background-color: #70c07f;
    -fx-background-radius: 15px;
}

.textfield-datos {
    -fx-background-radius: 15px;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 4.0, 0.0, 0.0, 4.0);
}

.style-menu-lateral {
    -fx-background-color: #70c07f;
    -fx-background-radius: 10px;
}

.bordes-redondos {
    -fx-background-radius: 100px;
}

.item:hover {
    -fx-background-color: #D3D7D3;
    -fx-cursor: hand;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-scale-z: 1.03;
}

.item:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-scale-z: 0.97;
}

.color-verde {
    -fx-background-color: #70c07f;
}
