.boton-menu:hover {

    -fx-background-color: #27963a;
}

.background-azul {
    -fx-background-color: #b5d0d4;
}

.boton {

    -fx-background-color: transparent;
}

.pdflateral {

    -fx-background-color: #ffff;
    -fx-background-radius: 7px;
}

.fondo-blanco {
    -fx-background-color: #ffff;
}

.style-scroll-pane {
    -fx-background-color: transparent;
}

.combobox-filtro {

    -fx-background-color: #70c07f;
    -fx-background-radius: 15px;
}

.textfield-datos {

    -fx-background-radius: 15px;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 5.0, 0.0, 0.0, 5.0);
}

.style-menu-lateral {
    -fx-background-color: #70c07f;
    -fx-background-radius: 10px;
}

.bordes-redondos {
    -fx-background-radius: 100px;
}

.item:hover {
    -fx-background-color: #D3D7D3;
    -fx-cursor: hand;
}

.style-foto-perfil {
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
}

.circular-image-view {
    -fx-background-radius: 50%;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: "M 50 0 A 50 50 0 0 1 100 50 L 100 50 A 50 50 0 0 1 50 100 L 50 100 A 50 50 0 0 1 0 50 L 0 50 A 50 50 0 0 1 50 0 Z";
    -fx-scale-shape: false;
    -fx-min-width: 0;
    -fx-min-height: 0;
}
